Repository lord-server/lord, pull requests merged in 2019-02, with the labels that each got.

#178 Фикс #177: вставка деревянного щита
  mods/lottarmor/shield.lua
Labels: bug, fix

#203 Hit only first target
  mods/throwing/init.lua
Labels: fix, internal, mod

#191 Arrow sound fix
  mods/arrows/arrows.lua
  mods/arrows/axe.lua
  mods/arrows/init.lua
  mods/lottthrowing/init.lua
  mods/throwing/init.lua
Labels: bug, fix, needs testing

#204 Change arrows mass, speed and damage coefficient
  mods/arrows/arrows.lua
Labels: fix, internal, mod, needs testing
