Repository lord-server/lord, pull requests merged in 2021-11, with the labels that each got.

#471 Fix signs
  mods/_various/signs_lib/init.lua
Labels: fix

#465 Mod Lamps
  mods/lord/lamps/init.lua
  mods/lord/lamps/locale/lamps.en.tr
  mods/lord/lamps/locale/lamps.ru.tr
  mods/lord/lamps/locale/template.txt
  mods/lord/lamps/mod.conf
  mods/lord/lamps/textures/lamps_candle_lamp_bronze_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_bronze_up.png
  mods/lord/lamps/textures/lamps_candle_lamp_gold_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_gold_up.png
  mods/lord/lamps/textures/lamps_chain_bronze_a.png
  mods/lord/lamps/textures/lamps_chain_bronze_b.png
  mods/lord/lamps/textures/lamps_chain_gold_a.png
  mods/lord/lamps/textures/lamps_chain_gold_b.png
  mods/lord/lamps/textures/lamps_light_candle_lamp.png
  mods/lord/readme.md
  mods/lord/roads/mod.conf
Labels: mod, lord, new-block, feature

#474 Update MTG/bucket
  .luacheckrc
  mods/_minetest_game/bucket/README.txt
  mods/_minetest_game/bucket/depends.txt
  mods/_minetest_game/bucket/init.lua
  mods/_minetest_game/bucket/license.txt
  mods/_minetest_game/bucket/locale/bucket.de.tr
  mods/_minetest_game/bucket/locale/bucket.es.tr
  mods/_minetest_game/bucket/locale/bucket.fr.tr
  mods/_minetest_game/bucket/locale/bucket.id.tr
  mods/_minetest_game/bucket/locale/bucket.it.tr
  mods/_minetest_game/bucket/locale/bucket.jbo.tr
  mods/_minetest_game/bucket/locale/bucket.ms.tr
  mods/_minetest_game/bucket/locale/bucket.pt_BR.tr
  mods/_minetest_game/bucket/locale/bucket.ru.tr
  mods/_minetest_game/bucket/locale/bucket.se.tr
  mods/_minetest_game/bucket/locale/bucket.sk.tr
  mods/_minetest_game/bucket/locale/bucket.zh_CN.tr
  mods/_minetest_game/bucket/locale/bucket.zh_TW.tr
  mods/_minetest_game/bucket/locale/en.txt
  mods/_minetest_game/bucket/locale/ru.txt
  mods/_minetest_game/bucket/locale/template.txt
  mods/_minetest_game/bucket/mod.conf
  mods/_minetest_game/bucket/textures/bucket.png
  mods/_minetest_game/bucket/textures/bucket_ice.png
  mods/_minetest_game/bucket/textures/bucket_lava.png
  mods/_minetest_game/bucket/textures/bucket_river_water.png
  mods/_minetest_game/bucket/textures/bucket_snow.png
  mods/_minetest_game/bucket/textures/bucket_water.png
  mods/lord/lord_bucket/init.lua
  mods/lord/lord_bucket/locale/lord_bucket.ru.tr
  mods/lord/lord_bucket/locale/template.txt
  mods/lord/lord_bucket/mod.conf
  mods/lord/lord_bucket/textures/bucket_ice.png
  mods/lord/lord_bucket/textures/bucket_snow.png
Labels: mod, update, MTG

#480 Remove call fire sound on placing and removing blue flame
  mods/_lott/lottother/init.lua
Labels: update, fix, MTG

#486 Move bones from MTG to lord. Fixes #271
  mods/lord/bones/README.txt
  mods/lord/bones/crafting.lua
  mods/lord/bones/depends.txt
  mods/lord/bones/init.lua
  mods/lord/bones/items.lua
  mods/lord/bones/license.txt
  mods/lord/bones/locale/en.txt
  mods/lord/bones/locale/ru.txt
  mods/lord/bones/models/bones.obj
  mods/lord/bones/skeleton.lua
  mods/lord/bones/textures/bones_bone.png
  mods/lord/bones/textures/bones_bonedust.png
  mods/lord/bones/textures/bones_bottom.png
  mods/lord/bones/textures/bones_character.png
  mods/lord/bones/textures/bones_front.png
  mods/lord/bones/textures/bones_rear.png
  mods/lord/bones/textures/bones_scythe.png
  mods/lord/bones/textures/bones_side.png
  mods/lord/bones/textures/bones_skeleton.png
  mods/lord/bones/textures/bones_skeleton_bottom.png
  mods/lord/bones/textures/bones_skeleton_front.png
  mods/lord/bones/textures/bones_skeleton_rear.png
  mods/lord/bones/textures/bones_skeleton_side.png
  mods/lord/bones/textures/bones_skeleton_top.png
  mods/lord/bones/textures/bones_top.png
  mods/lord/bones/textures/gui_bonesbg.png
  mods/lord/bones/textures/skeleton.png
Labels: MTG

#491 move all about charcoal into our `lord_default`. (needs for #267)
  mods/_minetest_game/default/crafting.lua
  mods/_minetest_game/default/locale/ru.txt
  mods/_minetest_game/default/nodes.lua
  mods/lord/lord_default/init.lua
  mods/lord/lord_default/locale/lord_default.en.tr
  mods/lord/lord_default/locale/lord_default.ru.tr
  mods/lord/lord_default/locale/template.txt
  mods/lord/lord_default/readme.md
  mods/lord/lord_default/textures/charcoal_lump.png
  mods/lord/lord_default/textures/default_charcoal_block.png
Labels: mod, refactoring, update, MTG
