Repository lord-server/lord, pull requests merged in 2022-02, with the labels that each got.

#534 Removal modification `MTG/boats` in `lord/lord_boats`
  .luacheckrc
  mods/_minetest_game/boats/depends.txt
  mods/_minetest_game/boats/init.lua
  mods/_minetest_game/boats/license.txt
  mods/_minetest_game/boats/locale/en.txt
  mods/_minetest_game/boats/locale/ru.txt
  mods/_minetest_game/boats/models/rowboat.x
  mods/_minetest_game/boats/models/sailboat.x
  mods/_minetest_game/boats/textures/rowboat_inventory.png
  mods/_minetest_game/boats/textures/rowboat_wield.png
  mods/_minetest_game/boats/textures/sailboat.png
  mods/_minetest_game/boats/textures/sailboat_inventory.png
  mods/_minetest_game/boats/textures/sailboat_wield.png
  mods/lord/lord_boats/init.lua
  mods/lord/lord_boats/license.txt
  mods/lord/lord_boats/locale/lord_boats.ru.tr
  mods/lord/lord_boats/locale/template.txt
  mods/lord/lord_boats/mod.conf
  mods/lord/lord_boats/models/rowboat.b3d
  mods/lord/lord_boats/models/rowboat.obj
  mods/lord/lord_boats/models/sailboat.b3d
  mods/lord/lord_boats/models/sailboat.obj
  mods/lord/lord_boats/rowboat.lua
  mods/lord/lord_boats/sailboat.lua
  mods/lord/lord_boats/textures/rowboat_inventory.png
  mods/lord/lord_boats/textures/rowboat_wield.png
  mods/lord/lord_boats/textures/sailboat.png
  mods/lord/lord_boats/textures/sailboat_inventory.png
  mods/lord/lord_boats/textures/sailboat_wield.png
Labels: enhancement, lord, update, MTG

#536 Repairing endless shops of `lord_money`
  mods/lord/lord_money/init.lua
  mods/lord/lord_money/locale/lord_money.en.tr
  mods/lord/lord_money/locale/lord_money.ru.tr
  mods/lord/lord_money/locale/template.txt
  mods/lord/lord_money/money.lua
  mods/lord/lord_money/shop.lua
Labels: lord, fix, inventory

#539 Check that mob is dead
  mods/_various/mobs/api.lua
Labels: fix

#541 Fix embrasure
  mods/lord/throwing/init.lua
Labels: fix

#544 #497 disable patterns for master-book search. fixes #497 crash.
  mods/_lott/lottinventory/master.lua
Labels: fix

#554 Fix screwdriver
  mods/lord/_overwrites/MTG/screwdriver/init.lua
  mods/lord/lord_screwdriver/init.lua
Labels: mod, fix, MTG
