Repository lord-server/lord, pull requests merged in 2022-05, with the labels that each got.

#563 Update MTG/default: upd nodes.lua, functions.lua & trees.lua
  mods/_lott/lottmapgen/nodes.lua
  mods/_minetest_game/default/functions.lua
  mods/_minetest_game/default/init.lua
  mods/_minetest_game/default/nodes.lua
  mods/_minetest_game/default/trees.lua
  mods/lord/_overwrites/MTG/default/init.lua
  mods/lord/legacy/init.lua
Labels: update, fix, MTG

#603 Removing temporary changes in `MTG/stairs`
  mods/_minetest_game/stairs/init.lua
  mods/lord/_overwrites/MTG/stairs/readme.md
Labels: fix, MTG

#604 New L.O.R.D icon
  menu/icon.png
Labels: enhancement, graphics, low priority, implementation, admin side

#609 Reduce contrast of cobble
  mods/lord/_overwrites/MTG/default/textures/default_cobble.png
Labels: needs review, graphics, fix
