Repository lord-server/lord, pull requests merged in 2022-08, with the labels that each got.

#615 Lord boats refactoring
  mods/lord/lord_boats/functions.lua
  mods/lord/lord_boats/init.lua
  mods/lord/lord_boats/rowboat.lua
  mods/lord/lord_boats/sailboat.lua
Labels: refactoring, lord

#693 Факела не гаснут в воде (fix 551)
  mods/_lott/lottother/init.lua
  mods/_various/torches/mt_style.lua
  mods/lord/lord_homedecor/furniture_medieval.lua
Labels: lord, fix, LOTT

#695 Замена метода создания папки через os.execute на minetest.mkdir
  mods/lord/mega_sl/init.lua
Labels: lord, fix

#614 Removing depends.txt + Fix warnings about mod.conf lack
  mods/lord/alarm/depends.txt
  mods/lord/alarm/mod.conf
  mods/lord/arena/mod.conf
  mods/lord/lists/mod.conf
  mods/lord/mail_list/depends.txt
  mods/lord/mail_list/mod.conf
  mods/lord/mypos/depends.txt
  mods/lord/mypos/mod.conf
  mods/lord/ping/mod.conf
  mods/lord/server_message/depends.txt
  mods/lord/server_message/mod.conf
  mods/lord/skybox/mod.conf
Labels: refactoring

#602 Update lottblocks/wooden_stuff.lua - new fences
  mods/_lott/lottblocks/locale/ru.txt
  mods/_lott/lottblocks/textures/lottblocks_fence_alder_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_birch_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_fir_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_lebethron_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_mallorn_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_pine_wood.png
  mods/_lott/lottblocks/wooden_stuff.lua
  mods/lord/_overwrites/MTG/default/init.lua
  mods/lord/_overwrites/MTG/default/locale/lord_overwrites_mtg_default.ru.tr
Labels: enhancement, waiting on review, LOTT

#623 Lord bees
  mods/_various/bees/init.lua
  mods/_various/bees/locale/ru.txt
  mods/_various/bees/textures/bees_bottle_honey.png
  mods/_various/bees/textures/bees_comb.png
  mods/_various/bees/textures/bees_extractor.png
  mods/_various/bees/textures/bees_extractor_front.png
  mods/_various/bees/textures/bees_extractor_top.png
  mods/_various/bees/textures/bees_frame_empty.png
  mods/_various/bees/textures/bees_frame_full.png
  mods/_various/bees/textures/bees_grafting_tool.png
  mods/_various/bees/textures/bees_hive_artificial.png
  mods/_various/bees/textures/bees_hive_industrial.png
  mods/_various/bees/textures/bees_hive_wild.png
  mods/_various/bees/textures/bees_hive_wild_bottom.png
  mods/_various/bees/textures/bees_hive_wild_s.png
  mods/_various/bees/textures/bees_particle_bee.png
  mods/_various/bees/textures/bees_particle_bee_r.png
  mods/_various/bees/textures/bees_smoke_particle.png
  mods/_various/bees/textures/bees_smoker.png
  mods/_various/bees/textures/bees_strip.png
  mods/_various/bees/textures/bees_wax.png
  mods/_various/bees/textures/bees_wax_particle.png
  mods/lord/bees/hive_artificial.lua
  mods/lord/bees/hive_wild.lua
  mods/lord/bees/init.lua
  mods/lord/bees/locale/bees.en.tr
  mods/lord/bees/locale/bees.ru.tr
  mods/lord/bees/locale/template.txt
  mods/lord/bees/mod.conf
  mods/lord/bees/readme.txt
  mods/lord/bees/sounds/bees.1.ogg
  mods/lord/bees/sounds/bees.2.ogg
  mods/lord/bees/sounds/bees.3.ogg
  mods/lord/bees/textures/bees_bottle_honey.png
  mods/lord/bees/textures/bees_comb.png
  mods/lord/bees/textures/bees_extractor.png
  mods/lord/bees/textures/bees_extractor_background.png
  mods/lord/bees/textures/bees_extractor_bottom.png
  mods/lord/bees/textures/bees_extractor_top.png
  mods/lord/bees/textures/bees_frame_empty.png
  mods/lord/bees/textures/bees_frame_full.png
  mods/lord/bees/textures/bees_grafting_tool.png
  mods/lord/bees/textures/bees_hive_artificial_background.png
  mods/lord/bees/textures/bees_hive_artificial_hole.png
  mods/lord/bees/textures/bees_hive_artificial_honey_drops.png
  mods/lord/bees/textures/bees_hive_artificial_honey_hole.png
  mods/lord/bees/textures/bees_hive_wild.png
  mods/lord/bees/textures/bees_hive_wild_background.png
  mods/lord/bees/textures/bees_hive_wild_hole.png
  mods/lord/bees/textures/bees_hive_wild_honey_hole.png
  mods/lord/bees/textures/bees_hive_wild_top.png
  mods/lord/bees/textures/bees_honey_comb_block.png
  mods/lord/bees/textures/bees_particle_bee.png
  mods/lord/bees/textures/bees_particle_bee_r.png
  mods/lord/bees/textures/bees_smoke_particle.png
  mods/lord/bees/textures/bees_smoker.png
  mods/lord/bees/textures/bees_strip.png
  mods/lord/bees/textures/bees_wax.png
  mods/lord/bees/textures/bees_wax_block.png
  mods/lord/bees/textures/bees_wax_particle.png
Labels: enhancement, mod, waiting on review, localization, needs testing, graphics, fix, inventory

#709 Улучшения /list
  mods/lord/lord_info/init.lua
Labels: enhancement, fix

#707 Dungeon lamp and chains
  mods/lord/lamps/init.lua
  mods/lord/lamps/locale/lamps.en.tr
  mods/lord/lamps/locale/lamps.ru.tr
  mods/lord/lamps/locale/template.txt
  mods/lord/lamps/models/lamps_candle_lamp.obj
  mods/lord/lamps/models/lamps_chains.obj
  mods/lord/lamps/models/lamps_chains_diagonal.obj
  mods/lord/lamps/models/lamps_chains_diagonal_2.obj
  mods/lord/lamps/models/lamps_dungeon_lamp.obj
  mods/lord/lamps/models/lamps_dungeon_lamp_hanging.obj
  mods/lord/lamps/models/lamps_hanging_candle_lamp.obj
  mods/lord/lamps/textures/lamps_candle_lamp_bronze_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_gold_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_silver_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_steel_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_tin_side.png
  mods/lord/lamps/textures/lamps_chains_bronze.png
  mods/lord/lamps/textures/lamps_chains_diagonal_2_bronze.png
  mods/lord/lamps/textures/lamps_chains_diagonal_2_gold.png
  mods/lord/lamps/textures/lamps_chains_diagonal_2_silver.png
  mods/lord/lamps/textures/lamps_chains_diagonal_2_steel.png
  mods/lord/lamps/textures/lamps_chains_diagonal_2_tin.png
  mods/lord/lamps/textures/lamps_chains_diagonal_bronze.png
  mods/lord/lamps/textures/lamps_chains_diagonal_gold.png
  mods/lord/lamps/textures/lamps_chains_diagonal_silver.png
  mods/lord/lamps/textures/lamps_chains_diagonal_steel.png
  mods/lord/lamps/textures/lamps_chains_diagonal_tin.png
  mods/lord/lamps/textures/lamps_chains_gold.png
  mods/lord/lamps/textures/lamps_chains_item_bronze.png
  mods/lord/lamps/textures/lamps_chains_item_gold.png
  mods/lord/lamps/textures/lamps_chains_item_silver.png
  mods/lord/lamps/textures/lamps_chains_item_steel.png
  mods/lord/lamps/textures/lamps_chains_item_tin.png
  mods/lord/lamps/textures/lamps_chains_silver.png
  mods/lord/lamps/textures/lamps_chains_steel.png
  mods/lord/lamps/textures/lamps_chains_tin.png
  mods/lord/lamps/textures/lamps_dungeon_lamp_candle.png
  mods/lord/lamps/textures/lamps_dungeon_lamp_side.png
  mods/lord/lamps/textures/lamps_dungeon_lamp_top.png
  mods/lord/lamps/textures/lamps_light_candle_lamp.png
  mods/lord/lamps/textures/lamps_wrench.png
Labels: lord, graphics, implementation

#706 Fence upd
  mods/_lott/lottblocks/locale/ru.txt
  mods/_lott/lottblocks/textures/lottblocks_fence_alder_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_birch_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_fir_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_lebethron_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_mallorn_wood.png
  mods/_lott/lottblocks/textures/lottblocks_fence_pine_wood.png
  mods/_lott/lottblocks/wooden_stuff.lua
  mods/lord/_overwrites/MTG/default/init.lua
  mods/lord/_overwrites/MTG/default/locale/lord_overwrites_mtg_default.ru.tr
Labels: enhancement, fix, LOTT

#574 Marble with gold and gems
  mods/lord/lord_blocks/init.lua
  mods/lord/lord_blocks/locale/lord_blocks.en.tr
  mods/lord/lord_blocks/locale/lord_blocks.ru.tr
  mods/lord/lord_blocks/locale/template.txt
  mods/lord/lord_blocks/mod.conf
  mods/lord/lord_blocks/textures/lord_blocks_bluegem.png
  mods/lord/lord_blocks/textures/lord_blocks_edging_gold.png
  mods/lord/lord_blocks/textures/lord_blocks_purplegem.png
  mods/lord/lord_blocks/textures/lord_blocks_redgem.png
Labels: new block

#713 Implemented lord_replacer
  mods/lord/lord_replacer/LICENSE.txt
  mods/lord/lord_replacer/init.lua
  mods/lord/lord_replacer/locale/lord_replacer.ru.tr
  mods/lord/lord_replacer/mod.conf
  mods/lord/lord_replacer/textures/lord_replacer_replacer.png
Labels: implementation

#720 Fix replacer
  mods/lord/lord_replacer/init.lua
  mods/lord/lord_replacer/locale/lord_replacer.ru.tr
Labels: lord, fix, high priority

#722 Chains fix protect
  mods/lord/lamps/init.lua
Labels: lord, fix

#745 Moved overwriting strings.lower, upper to lordlib mod
  mods/lord/lordlib/init.lua
  mods/lord/lordlib/mod.conf
  mods/lord/lordlib/ru_lower_upper.lua
  mods/lord/readme.md
  mods/lord/ru_lower_upper/mod.conf
Labels: refactoring, lord

#744 Исправление потерянной локализации льда
  mods/_lott/lottmapgen/locale/en.txt
  mods/_lott/lottmapgen/locale/ru.txt
  mods/lord/_overwrites/MTG/default/locale/lord_overwrites_mtg_default.ru.tr
Labels: fix

#737 Added ghost wools
  mods/lord/defaults/init.lua
  mods/lord/defaults/mod.conf
  mods/lord/lord_wool/init.lua
Labels: fix

#750 Fix server crash because of breaking a corpse (bones mod)
  mods/lord/bones/init.lua
Labels: fix

#739 Добавление полублоков из стволов деревьев
  mods/_lott/lottplants/locale/lottplants.en.tr
  mods/_lott/lottplants/locale/lottplants.ru.tr
  mods/_lott/lottplants/locale/template.txt
  mods/_lott/lottplants/nodes.lua
  mods/lord/_overwrites/MTG/stairs/mod.conf
Labels: new block, feature

#753 Уход от использования текстового файла в качестве БД для палантиров
  mods/_lott/lottblocks/palantiri.lua
Labels: enhancement, LOTT
