Repository lord-server/lord, pull requests merged in 2022-07, with the labels that each got.

#616 Little fix #372
  mods/_lott/lottmobs/textures/default_tnt_bottom.png
Labels: fix, LOTT, mobs | entities

#645 Fixed warning (issue #642)
  mods/lord/legacy/init.lua
Labels: fix, MTG

#643 Fixes #630. Update textures, fix hoes mechanics, fix locale
  mods/_lott/lottfarming/init.lua
  mods/lord/_overwrites/MTG/farming/locale/farming.ru.tr
  mods/lord/_overwrites/MTG/farming/textures/farming_bread.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_1.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_2.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_3.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_4.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_5.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_6.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_7.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_8.png
  mods/lord/_overwrites/MTG/farming/textures/farming_cotton_seed.png
  mods/lord/_overwrites/MTG/farming/textures/farming_flour.png
  mods/lord/_overwrites/MTG/farming/textures/farming_sheaf_wheat.png
  mods/lord/_overwrites/MTG/farming/textures/farming_soil.png
  mods/lord/_overwrites/MTG/farming/textures/farming_soil_wet.png
  mods/lord/_overwrites/MTG/farming/textures/farming_soil_wet_side.png
  mods/lord/_overwrites/MTG/farming/textures/farming_string.png
  mods/lord/_overwrites/MTG/farming/textures/farming_tool_bronzehoe.png
  mods/lord/_overwrites/MTG/farming/textures/farming_tool_steelhoe.png
  mods/lord/_overwrites/MTG/farming/textures/farming_tool_stonehoe.png
  mods/lord/_overwrites/MTG/farming/textures/farming_tool_woodhoe.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_1.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_2.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_3.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_4.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_5.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_6.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_7.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_8.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat_seed.png
Labels: localization, graphics, update, fix, MTG

#571 New block: green marble
  mods/lord/lord_blocks/init.lua
  mods/lord/lord_blocks/locale/lord_blocks.en.tr
  mods/lord/lord_blocks/locale/lord_blocks.ru.tr
  mods/lord/lord_blocks/locale/template.txt
  mods/lord/lord_blocks/textures/lord_blocks_green_marble.png
Labels: lord, new block

#648 Move luacheck from Travis CI to GitHub Actions
  .github/workflows/luacheck.yml
  .travis.yml
Labels: infrastructure

#649 Fix crash when player leaves after drinking (fixes #291)
  mods/_various/hud_modpack/hbhunger/hunger.lua
Labels: fix

#655 texture fix
  mods/lord/_overwrites/MTG/farming/textures/farming_sheaf_wheat.png
  mods/lord/_overwrites/MTG/farming/textures/farming_wheat.png
Labels: graphics, fix, MTG

#651 Add LICENSE to tools
  mods/lord/tools/LICENSE
Labels: lord

#647 Removal of the ability to throw out the admin stick
  mods/_various/mp_world_edit/worldedit/tools.lua
Labels: fix, admin side

#657 decay tree fix
  mods/_lott/lottfarming/crafting.lua
Labels: fix, LOTT, high priority

#652 Небольшая правка lord_money
  mods/lord/lord_money/money.lua
  mods/lord/lord_money/shop.lua
  mods/lord/lord_money/textures/lord_money_copper_coin.png
  mods/lord/lord_money/textures/lord_money_diamond_coin.png
  mods/lord/lord_money/textures/lord_money_gold_coin.png
  mods/lord/lord_money/textures/lord_money_silver_coin.png
  mods/lord/lord_money/textures/money_copper_coin.png
  mods/lord/lord_money/textures/money_diamond_coin.png
  mods/lord/lord_money/textures/money_gold_coin.png
  mods/lord/lord_money/textures/money_silver_coin.png
Labels: enhancement, refactoring

#646 Lottplants last update
  mods/_lott/lottplants/flowers.lua
  mods/_lott/lottplants/functions.lua
  mods/_lott/lottplants/init.lua
  mods/_lott/lottplants/locale/lottplants.en.tr
  mods/_lott/lottplants/locale/lottplants.ru.tr
  mods/_lott/lottplants/locale/template.txt
  mods/_lott/lottplants/nodes.lua
  mods/_lott/lottplants/wild_food.lua
Labels: LOTT

#673 Исправление неправильного покачивания у листвы из default
  mods/lord/_overwrites/MTG/default/init.lua
Labels: fix, MTG

#548 Silver, steel and tin lamps
  mods/lord/lamps/init.lua
  mods/lord/lamps/locale/lamps.en.tr
  mods/lord/lamps/locale/lamps.ru.tr
  mods/lord/lamps/locale/template.txt
  mods/lord/lamps/textures/lamps_candle_lamp_silver_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_silver_up.png
  mods/lord/lamps/textures/lamps_candle_lamp_steel_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_steel_up.png
  mods/lord/lamps/textures/lamps_candle_lamp_tin_side.png
  mods/lord/lamps/textures/lamps_candle_lamp_tin_up.png
  mods/lord/lamps/textures/lamps_chain_silver_a.png
  mods/lord/lamps/textures/lamps_chain_silver_b.png
  mods/lord/lamps/textures/lamps_chain_steel_a.png
  mods/lord/lamps/textures/lamps_chain_steel_b.png
  mods/lord/lamps/textures/lamps_chain_tin_a.png
  mods/lord/lamps/textures/lamps_chain_tin_b.png
Labels: lord, new block
