Repository lord-server/lord, pull requests merged in 2023-01, with the labels that each got.

#700 Lord bows
  mods/lord/_experimental/lord_bows/entities_projectiles.lua
  mods/lord/_experimental/lord_bows/init.lua
  mods/lord/_experimental/lord_bows/mechanics_throwing.lua
  mods/lord/_experimental/lord_bows/mod.conf
  mods/lord/_experimental/lord_bows/models/projectile_arrow_type.obj
  mods/lord/_experimental/lord_bows/textures/items_tools_arrow.png
  mods/lord/_experimental/lord_bows/textures/items_tools_bow_wooden.png
  mods/lord/_experimental/lord_bows/textures/items_tools_bow_wooden_2.png
  mods/lord/_experimental/lord_bows/textures/items_tools_bow_wooden_3.png
  mods/lord/_experimental/lord_bows/textures/items_tools_bow_wooden_4.png
  mods/lord/_experimental/lord_bows/textures/projectile_arrow.png
  mods/lord/_experimental/modpack.conf
Labels: lord, implementation

#923 throwing: Remove unused self receiver on functions (#921)
  mods/_various/mobs/api.lua
  mods/lord/arrows/init.lua
  mods/lord/arrows/magic.lua
  mods/lord/debugtools/embrasure.lua
  mods/lord/lottthrowing/init.lua
  mods/lord/throwing/engine.lua
  mods/lord/throwing/init.lua
Labels: refactoring

#965 Новая текстура мраморного кирпича
  mods/lord/lottblocks/textures/lottblocks_marble_brick.png
Labels: graphics, LOTT
