Repository lord-server/lord, pull requests merged in 2024-06, with the labels that each got.

#1410 Reduced time of day end for beds
  .luacheckrc
  mods/lord/Blocks/lord_beds/init.lua
  util/mt-ide-helper/minetest_types.lua
Labels: MTG, implementation

#1416 Removed unnecessary clear craft statements
  mods/lord/_overwrites/MTG/farming/init.lua
Labels: fix, MTG

#1413 Update `lord_rocks_shale.png`
  mods/lord/Blocks/lord_rocks/textures/lord_rocks_shale.png
Labels: lord, graphics

#1452 Beautifying clans chat commands
  mods/lord/Player/clans/locale/clans.en.tr
  mods/lord/Player/clans/locale/clans.ru.tr
  mods/lord/Player/clans/locale/template.txt
  mods/lord/Player/clans/src/clans/commands.lua
Labels: lord, player

#1447 Improved /lists debug tool
  mods/lord/Game/debugtools/lists.lua
Labels: lord

#1458 Clans: players must exist now
  mods/lord/Player/clans/locale/clans.en.tr
  mods/lord/Player/clans/locale/clans.ru.tr
  mods/lord/Player/clans/locale/template.txt
  mods/lord/Player/clans/src/clans.lua
  mods/lord/Player/clans/src/clans/commands.lua
  mods/lord/Player/clans/src/clans/players/nametag.lua
  util/mt-ide-helper/minetest_types.lua
Labels: lord, player

#1461 lottblocks: added sound cooldowns to music stuff
  mods/lord/Blocks/lottblocks/music.lua
Labels: sound, LOTT

#1462 Converted lottblocks/sounds to mono
  mods/lord/Blocks/lottblocks/sounds/A.ogg
  mods/lord/Blocks/lottblocks/sounds/Bb.ogg
  mods/lord/Blocks/lottblocks/sounds/C.ogg
  mods/lord/Blocks/lottblocks/sounds/D.ogg
  mods/lord/Blocks/lottblocks/sounds/Eb.ogg
  mods/lord/Blocks/lottblocks/sounds/F.ogg
  mods/lord/Blocks/lottblocks/sounds/G.ogg
  mods/lord/Blocks/lottblocks/sounds/gong.ogg
  mods/lord/Blocks/lottblocks/sounds/lottblocks_harp.1.ogg
  mods/lord/Blocks/lottblocks/sounds/lottblocks_harp.2.ogg
  mods/lord/Blocks/lottblocks/sounds/lottblocks_harp.3.ogg
  mods/lord/Blocks/lottblocks/sounds/lottblocks_harp.ogg
Labels: lord, sound
