Repository lord-server/lord, pull requests merged in 2024-05, with the labels that each got.

#1353 Fix lord_ores mithril drop. Closes #1352
  mods/lord/Blocks/lord_ores/rock_ores.lua
Labels: fix, hotfix

#1365 Correction of the number of used bottles when crafting mead. Adding a check for the ability to place bottles. Fix #1350. Fix #1364 [lottpotion]
  mods/lord/Tools/lottpotion/brewing.lua
Labels: lord, fix

#1368 Новые текстуры мифриловой, серебряной, оловяной, медной, золотой, железной руд. Close #1290
  mods/lord/Blocks/lottores/textures/lottores_mithril_ore.png
  mods/lord/Blocks/lottores/textures/lottores_silver_ore.png
  mods/lord/Blocks/lottores/textures/lottores_tin_ore.png
  mods/lord/_overwrites/MTG/default/textures/default_mineral_copper.png
  mods/lord/_overwrites/MTG/default/textures/default_mineral_gold.png
  mods/lord/_overwrites/MTG/default/textures/default_mineral_iron.png
Labels: graphics

#1396 Feature: clan blocking
  mods/lord/Player/clans/init.lua
  mods/lord/Player/clans/locale/clans.en.tr
  mods/lord/Player/clans/locale/clans.ru.tr
  mods/lord/Player/clans/locale/template.txt
  mods/lord/Player/clans/src/commands.lua
  mods/lord/Player/clans/src/storage.lua
  util/mt-ide-helper/minetest_types.lua
Labels: lord, feature, player

#1399 Added README for clans tapestries
  mods/lord/Blocks/clans_tapestries/README.md
  mods/lord/Blocks/clans_tapestries/screenshot.png
  mods/lord/Blocks/clans_tapestries/textures/clans_tapestries_example32.png
Labels: lord, description

#1398 Clan prefix removing/adding instantly
  mods/lord/Player/clans/init.lua
  mods/lord/Player/clans/src/storage.lua
  util/mt-ide-helper/minetest_types.lua
Labels: enhancement, lord, player
